# Ignore Python cache
__pycache__/
*.pyc

# Ignore audio and large data files
*.wav
*.mp3
*.mp4
*.json
*.csv

# Ignore VS Code settings
.vscode/

# Ignore environment files
.env

# Ignore virtual environments
venv/
.venv/

# Ignore Google Cloud SDK folder
google-cloud-sdk/
